/* CSS layout */

body {/* sets the style of the websites outer surroundings. */
	margin: 0;
	padding: 10;
	background-color: #F9FFE2;; /*light green*/
	height:100%;
	}
div.Pagewrap{
border-style: solid;
border-width: 1px;
width: 1050px;
margin: auto;
background-color: #00BFFF;    
     
}
div.Logo{
height: 150px;
background-color: #F0F100;
width: 200px;
display: inline-block;
   
}
div.Hold{
width: 850px;
background-color: rgb(249, 100, 42);
display: inline-block;
height: 175px;    

}
div.Login{
height: 50px;
width: 700px;
background-color: #F900F2;
display: inline-block;
margin-bottom: 62px;
    margin-left: 145px;
}
    

div.Top-Bar{
height: 225px;
background-color: #A6D9ED;    
}
div.Basket{
height: 50px;
width: 200px;
background-color: #FFB1B1;
display: inline-block;
margin-left: 242px;
}

div.Search_Bar{
height: 50px;
width: 300px;
background-color: #AE3434;
display: inline-block;
margin-right: 100px;
margin-bottom: 0px;   
    
}

div.Nav_Bar{
height: 50px;
background-color: #84DDA4;
} 

div.footer
{
padding:1 em;
color:white;
background-color:teal;
clear:left;
font-size:70%;
text-align:center;
}
    
/*div.Main-Content{
background-color: #FF00AB;
min-height: 600px;    
    
}
*/
