/* CSS layout */

body {/* sets the style of the websites outer surroundings. */
	margin: 0;
	padding: 10;
	background-color: #F9FFE2;; /*light green*/
	height:100%;
	}
div.Pagewrap{
border-style: solid;
border-width: 1px;
width: 1050px;
margin: auto;
background-color: #00BFFF;    
     
}
div.Logo{
height: 159px;
background-color: #F0F100;
width: 200px;
display: inline-block;
   
}
div.Hold{
width: 850px;
background-color: rgb(249, 100, 42);
display: inline-block;
height: 175px;    
    
    
    
}
div.Login{
height: 50px;
width: 700px;
background-color: #F900F2;
display: inline-block;
margin-bottom: 62px;
margin-left: 150px;
}
    

div.Top-Bar{
height: 225px;
background-color: #A6D9ED;    
}
div.Basket{
height: 50px;
width: 200px;
background-color: #FFB1B1;
display: inline-block;
margin-left: 345px;
}

div.Search_Bar{
height: 50px;
width: 300px;
background-color: #AE3434;
display: inline-block;
}

div.Nav_Bar{
height: 50px;
background-color: #84DDA4;
} 
    

/*
div.form {
    padding: 10;
    border-style: solid;
	border-width: 1px;
	width: 600px;
    min-height: 600px;
	margin: auto;
	background-color: #ABFFFF; /* Light blue*/ /*
}
div.log {
width: 200px;
float: right;
height: inherit;
list-style-type: none;
margin-left: 10px;
border: 2px solid;
background-color: #87FFFF;
   
}
<!--login.h3 {
    width: 200px;
	float: right;
	height:inherit;
	list-style-type: none;
	margin-left:10px;
    background-color: #ABFFFF; /* Light blue*/ 
    /*
}--> */

