#nav,
#nav ul,
#nav li,
#nav a {
  list-style: none;
  margin:0 auto;
  padding:0;
  border: 0;
  font-size: 20px;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 1;
}
#nav {
  width: 1200px;

}
#nav ul {
  display: inline-block;
  background: #5AD258;
  border: 0px solid #586CD2;
  
}

#nav a,
#nav a:link,
#nav a:visited {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: white;
  border-right: 0px solid #586CD2;
  text-align:center;
  width:170px	
}
#nav a:hover {
  color: white;
 
}
#nav li {
  float: left;
  border-right: 0px solid #586CD2;
}
#nav li:hover {
  background: #586CD2;
}

